body {
  height: 100vh;
  display: grid;
  place-content: center;
}
.App {
  width: 350px;
  height: 600px;
  border-radius: 10px;
  border: 2px solid #2052d1;
  padding: 15px;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.react-link {
  color: black;
  text-decoration: none;
}

.active {
  color: #0b5ed7 !important;
  font-weight: bold;
  border-bottom: 3px solid #0b5ed7;
}

.dailyResults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.dailyResults [class^="card-"] {
  border-radius: 8px;
  background-color: #d2d7e4;
  height: 135px;
  display: grid;
  place-content: center;
  justify-items: center;
}

.daily-icons {
  color: #2052d1;
  font-size: 25px;
}

.template-day,
.template-hour {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6fd;
  padding: 10px;
  border-radius: 10px;
}

.common-link {
  color: black;
  text-decoration: none;
}

.hour {
  height: 380px;
  overflow-y: scroll;
}
.hour::-webkit-scrollbar {
  width: 0;
}
